/* TODO: pagrindinis turinys turi buti centruotas vertikaliai */

body {
    background-color: #06b5d0;
}

.background {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-image: url(../img/hill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    filter: blur(15px);
}

.container {
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-column {
    display: inline-block;
    width: 40%;
    float: left;
    padding: 40px;
    background-color: #0168ba;
    background-image: url(../img/hill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: #fff;
    position: absolute;
    top: 30px;
    bottom: 30px;
}

.main-title {
    display: inline-block;
    width: 100%;
}

.bottom-links {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 40px;
}

.bottom-links > .link {
    display: inline-block;
    color: #fff;
}

.symbol {
    display: inline-block;
}

.right-column {
    display: inline-block;
    width: 60%;
    float: right;
    padding: 60px;
    background-color: #fff;
    position: relative;
}

.close {
    display: inline-block;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
    line-height: 54px;
}

.form {
    display: inline-block;
    width: 100%;
}

.form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.form-row:last-of-type {
    margin-bottom: 0;
}

label {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    color: #999;
    font-size: 14px;
}

input {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 40px;
    border: none;
    border-bottom: 2px solid #ccc;
}

.btn {
    display: inline-block;
    background-color: #005bd9;
    color: #fff;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}
.btn:hover {
    background-color: #2576e7;
}

.text {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    line-height: 20px;
    font-size: 18px;
}

.form-row > .link {
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    font-size: 18px;
    color: #005bd9;
    text-decoration: none;
}