/*.TODO: pagrindinis turinys turi būti centruota horizontaliai*/
/*.TODO: pagrindinis turinys turi būti centruota vertikaliai*/

/* TODO: */

main{
    display: inline-block;
    width: 800px;
    background-color: red;
    margin-left: calc((100% - 800px) / 2);

}
div:nth-of-type(1) {
    display: inline-block;
    width: 40%;
    background-color: yellow;
    padding: 40px;
    float: left;

}
hi{
    display: inline-block;
    width: 100%;
}
footer{
    display: inline-block;
    width: 100%;
}
a{
    display:inline-block;
    float: left;
}
span{
    display: inline-block;
    float: left;
    
}
div:nth-of-type(2) {

    display: inline-block;
    width:60%;
    background-color: blue;
    float: left;

}